#filepicker {
    width: 0px;
    height: 0px;
    overflow: hidden;
    display:block;
}
label {
    background-color: goldenrod;
}
#filepicker:focus + label{
    outline: 5px solid teal;
}

#myCanvas {
    display:block;
}
